
@{
    ViewBag.Title = "Home";
}
<style>
    body {
        zoom: 90%;
    }
</style>
<!-- HOME -->
<section id="home">
    <!-- container -->
    <div class="container-fluid p-0">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="~/img/carousel-img/Banner1.png" alt="">
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="~/img/carousel-img/Banner2.png" alt="">
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="~/img/carousel-img/Banner3.png" alt="">
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="~/img/carousel-img/Banner4.png" alt="">
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="~/img/carousel-img/Banner5.png" alt="">
                </div>
                <!-- /banner -->
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</section>
<!-- /HOME -->
<!-- NEWS -->
<section id="news" style="background-color: #343F4B;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-4">
                <h4 class="text-white text-uppercase m-0">Novidades</h4>
            </div>
            <!-- news title -->
        </div>
        <!-- /row 1 -->

        <div class="row">
            <div class="col-md-12 news">
                <div class="news-top">
                    <div class="col-md-4 news-left1">
                        <a href="">
                            <img src="~/img/news-img/5.PNG" class="img-fluid" />
                        </a>
                    </div>

                    <div class="col-md-4 news-middle">
                        <a href="">
                            <img src="~/img/news-img/6.PNG" class="img-fluid" />
                        </a>
                    </div>

                    <div class="col-md-4 news-right1">
                        <a href="">
                            <img src="~/img/news-img/7.PNG" class="img-fluid" />
                        </a>
                    </div>

                    <div class="clearfix"></div>
                </div><!-- newsnews-top -->

                <div class="news-bottom">
                    <div class="col-md-4 news-left2">
                        <a href="">
                            <img src="~/img/news-img/4.PNG" class="img-fluid" />
                        </a>
                    </div>

                    <div class="col-md-8 news-right2">
                        <a href=""><img src="~/img/news-img/3.png" class="img-fluid" alt=""></a>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <!-- /news-bottm -->
            </div>
            <!-- /news painel image -->
        </div><!-- /row 2-->

        <div class="row">
            <div class="col-md-12 mb-4 border border-light text-center p-0">
                <img src="~/img/Slide2.png" width="1137" />
            </div>
            <!-- Banner -->
        </div>
        <!-- /row 1 -->
    </div>
    <!-- /container -->
</section>
<!-- /NEWS -->
<!-- RELEASES AND REPLACEMENTS -->
<section id="rr">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-top: 50px;">
                <div class="section-title">
                    <h4 class="title">Lançamentos</h4>
                    <div class="float-right">
                        <div class="product-slick-dots-1 custom-dots"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Title -->

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="product-slick-1" class="product-slick">
                    @foreach (var n in ViewBag.New)
                    {
                        <!-- Product Single -->
                        <div class="product product-single product-hot">
                            <div class="product-thumb">
                                <div class="product-label">
                                    <span>New</span>
                                    @if (n.Promocao != null)
                                    {
                                        <span class="sale">@n.Promocao</span>
                                    }
                                    <span class="replace"></span>
                                </div>
                                <img src="@n.Imagem1" alt="">
                            </div>
                            <div class="product-body">
                                @if (n.Promocao != null)
                                {
                                    <h5 class="product-price">R$ @Math.Round(Convert.ToDouble(((n.Preco * n.Promocao) / 100) - n.Preco), 2) <del class="product-old-price">R$ @n.Preco</del></h5>
                                }
                                else
                                {
                                    <h5 class="product-price">R$ @n.Preco</h5>
                                }
                                <p class="product-name"><a href="#">@n.Nome</a></p>
                                <div class="product-rating">
                                    <i class="icon ion-md-star"></i>
                                    <i class="icon ion-md-star"></i>
                                    <i class="icon ion-md-star"></i>
                                    <i class="icon ion-md-star"></i>
                                    <i class="icon ion-md-star-outline empty"></i>
                                </div>
                                <form action="" class="product-btns d-flex justify-content-center">
                                    <button class="primary-btn add-to-cart" type="button" onclick="window.location.href='@Url.Action("AddCart", "Home", new { id = n.Id })'"><i class="icon ion-md-cart mr-1"></i>Add ao Carinho</button>
                                </form>
                            </div>
                        </div>
                        <!-- /Product Single -->
                    }
                </div><!-- Product-Slick -->
            </div><!-- grid -->
        </div><!-- row -->
    </div><!-- container -->
</section>
<!-- /RELEASES AND REPLACEMENTS -->
<!-- BANNER -->
<section id="Banner" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-md-12 mb-4 border border-dark text-center p-0">
                    <img src="~/img/Slide1.png" width="1108" />
                </div><!-- Banner -->
            </div>
        </div>
    </div>
</section>
<!-- /BANNER -->
<!-- BEST RATED -->
<section id="br">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title">Reposições</h4>
                    <div class="float-right">
                        <div class="product-slick-dots-2 custom-dots"></div>
                    </div>
                </div>
            </div>
        </div><!-- Title -->

        <div class="row">
            <!-- Product Single -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="product-slick-2" class="product-slick">
                    <!-- Product Single -->
                    @*<div class="product product-single product-hot">
                            <div class="product-thumb">
                                <div class="product-label">
                                    <span>New</span>
                                    <span class="sale"></span>
                                    <span class="replace"></span>
                                </div>
                                <img src="~/img/product-img/product-1.png" alt="">
                            </div>
                            <div class="product-body">
                                <h5 class="product-price">R$ 32.50 <del class="product-old-price">R$ 45.00</del></h5>
                                <p class="product-name"><a href="#">Nome do Produto vai aqui</a></p>
                                <div class="product-rating">
                                    <i class="icon ion-md-star"></i>
                                    <i class="icon ion-md-star"></i>
                                    <i class="icon ion-md-star"></i>
                                    <i class="icon ion-md-star"></i>
                                    <i class="icon ion-md-star-outline empty"></i>
                                </div>
                                <form action="" class="product-btns d-flex justify-content-center">
                                    <button class="primary-btn add-to-cart"><i class="icon ion-md-cart mr-1"></i>Add ao Carinho</button>
                                </form>
                            </div>
                        </div>*@
                    <!-- /Product Single -->
                    @foreach (var n in ViewBag.Rep)
                    {
                        <!-- Product Single -->
                        <div class="product product-single product-hot">
                            <div class="product-thumb">
                                <div class="product-label">
                                    @if (n.Promocao != null)
                                    {
                                        <span class="sale">@n.Promocao</span>
                                    }
                                    <span class="replace"></span>
                                </div>
                                <img src="@n.Imagem1" alt="">
                            </div>
                            <div class="product-body">
                                @if (n.Promocao != null)
                                {
                                    <h5 class="product-price">R$ @Math.Round(Convert.ToDouble(((n.Preco * n.Promocao) / 100) - n.Preco), 2) <del class="product-old-price">R$ @n.Preco</del></h5>
                                }
                                else
                                {
                                    <h5 class="product-price">R$ @n.Preco</h5>
                                }
                                <p class="product-name"><a href="#">@n.Nome</a></p>
                                <div class="product-rating">
                                    <i class="icon ion-md-star"></i>
                                    <i class="icon ion-md-star"></i>
                                    <i class="icon ion-md-star"></i>
                                    <i class="icon ion-md-star"></i>
                                    <i class="icon ion-md-star-outline empty"></i>
                                </div>
                                <form action="" class="product-btns d-flex justify-content-center">
                                    <button class="primary-btn add-to-cart"><i class="icon ion-md-cart mr-1"></i>Add ao Carinho</button>
                                </form>
                            </div>
                        </div>
                        <!-- /Product Single -->
                    }
                </div><!-- Product-Slick -->
            </div><!-- grid -->
        </div><!-- row -->
    </div><!-- container -->
</section>
<!-- /BEST RATED -->
<!-- APP AREA -->
<section id="aa" style="background-color: #E5E9F2;">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between" style="height: 550px;padding-top: 50px;">
            <div class="col-6 ml-auto">
                <img src="~/img/app-area.png" class="img-fluid" alt="" style="width: 65%;">
            </div>

            <div class="col-5 mr-auto pt-5 pb-5">
                <div class="mt-5 mb-5">
                    <h2>Scrolls App</h2>
                    <p>Gosta de livros? De descontos? E quem sabe um pouco de aventura? Com nosso aplicativo mobile tudo isso está em um único lugar. Encontre os Banners espalhados pela cidade e escaneie seus códigos para conseguir descontos imperdiveis.</p>
                    <p><b>Embreve disponivel pra iOS.</b></p>

                    <div class="d-inline-flex mt-5 mb-5">
                        <div class="download d-inline-flex mr-5">
                            <a href="#" class="mr-3"><img src="~/img/appmaca.png" class="w-100 rounded" alt=""></a>
                            <a href="#"><img src="~/img/appgoogle.png" class="w-100 rounded" alt=""></a>
                        </div>

                        <div>
                            <img src="~/img/qrcode.png" class="w-100 mr-auto" alt="">
                        </div>
                    </div><!-- /div image -->
                </div><!-- /col-5 -->
            </div><!-- /row -->
        </div>
    </div>
</section>
<!-- /APP AREA -->

<script>
    document.getElementById("category-nav").classList.remove("show-on-click");
</script>

