@{
    ViewBag.Title = "Consulta de produtos";
}


<div class="main-content" id="pr">
    <h3>Produtos</h3>
    <br />

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var $table3 = jQuery("#table-3");

            var table3 = $table3.DataTable({
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });

            // Initalize Select Dropdown after DataTables is created
            $table3.closest('.dataTables_wrapper').find('select').select2({
                minimumResultsForSearch: -1
            });

            // Setup - add a text input to each footer cell
            $('#table-3 tfoot .src').each(function () {
                var title = $('#table-3 thead th').eq($(this).index()).text();
                $(this).html('<input type="text"  style="font-size: 8px;" class="form-control" placeholder="' + title + '" />');
            });

            // Apply the search
            table3.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>

    <style>
        #table-3 td {
            vertical-align: middle;
            padding: 3px 8px;
        }

        a.btn + a.btn {
            margin-left: 3rem;
        }

        #table-3 tr img {
            width: 50px;
        }
    </style>

    <table class="table table-bordered datatable" id="table-3">
        <thead>
            <tr class="replace-inputs">
                <th>Código</th>
                <th>Imagem destaque</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Promoção</th>
                <th>Categoria</th>
                <th>Gênero</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in ViewBag.Produtos)
            {
                <div class="modal fade" id="modal-@i.Id">
                    <div class="modal-dialog" style="width: 98% !important;">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Alteração de produto</h4>
                            </div>

                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="fileinput fileinput-new" data-provides="fileinput" style="display: inline-flex;">
                                            <div class="fileinput-new thumbnail" style="width: 325px; height:490px;" data-trigger="fileinput">
                                                @foreach (var img in ViewBag.Imagens)
                                                {
                                                    if (img.ProdutoId == i.Id)
                                                    {

                                                        <img src="@img.Caminho" class="img-rounded" />
                                                        break;
                                                    }
                                                    else
                                                    {
                                                        <img src="http://placehold.it/325x490">
                                                    }
                                                }
                                            </div>


                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 325px; max-height: 490px; min-width: 325px; min-height: 490px;"></div>
                                            <br />
                                            <div style="padding-left: 0px;">
                                                <span class="btn btn-white btn-file" style="align-items: center; width: 40px; height: 40px; display: flex;">
                                                    <span class="fileinput-new" style="padding-right: 6px;">
                                                        <i class="entypo-upload"></i>
                                                    </span>
                                                    <i class="entypo-ccw"></i>
                                                    <input type="file" name="i1" accept="image/*">
                                                </span>
                                                <br />
                                                <a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput" style="padding-top: 10px; width: 40px; height: 40px; margin-top: 390px;"><i class="entypo-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="fileinput fileinput-new" data-provides="fileinput" style="display: inline-flex;">
                                            <div class="fileinput-new thumbnail" style="width: 100px; height:100px;" data-trigger="fileinput">
                                                @foreach (var img in ViewBag.Imagens)
                                                {
                                                    if (img.ProdutoId == i.Id && img.Caminho.Contains(i.Id + "_2"))
                                                    {

                                                        <img src="@img.Caminho" class="img-rounded" />
                                                    }
                                                    else
                                                    {
                                                        <img src="http://placehold.it/100x100">
                                                    }
                                                }
                                            </div>


                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 100px; max-height: 100px; min-width: 100px; min-height: 100px;"></div>
                                            <br />
                                            <div style="padding-left: 0px;">
                                                <span class="btn btn-white btn-file" style="align-items: center; width: 40px; height: 40px; display: flex;">
                                                    <span class="fileinput-new" style="padding-right: 6px;">
                                                        <i class="entypo-upload"></i>
                                                    </span>
                                                    <i class="entypo-ccw"></i>
                                                    <input type="file" name="i2" accept="image/*">
                                                </span>
                                                <br />
                                                <a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput" style="padding-top: 10px; width: 40px; height: 40px; margin-top: 3px;"><i class="entypo-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="fileinput fileinput-new" data-provides="fileinput" style="display: inline-flex;">
                                            <div class="fileinput-new thumbnail" style="width: 100px; height:100px;" data-trigger="fileinput">
                                                @foreach (var img in ViewBag.Imagens)
                                                {
                                                    if (img.ProdutoId == i.Id && img.Caminho.Contains(i.Id + "_3"))
                                                    {

                                                        <img src="@img.Caminho" class="img-rounded" />
                                                    }
                                                    else
                                                    {
                                                        <img src="http://placehold.it/100x100">
                                                    }
                                                }
                                            </div>


                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 100px; max-height: 100px; min-width: 100px; min-height: 100px;"></div>
                                            <br />
                                            <div style="padding-left: 0px;">
                                                <span class="btn btn-white btn-file" style="align-items: center; width: 40px; height: 40px; display: flex;">
                                                    <span class="fileinput-new" style="padding-right: 6px;">
                                                        <i class="entypo-upload"></i>
                                                    </span>
                                                    <i class="entypo-ccw"></i>
                                                    <input type="file" name="i3" accept="image/*">
                                                </span>
                                                <br />
                                                <a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput" style="padding-top: 10px; width: 40px; height: 40px; margin-top: 3px;"><i class="entypo-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="fileinput fileinput-new" data-provides="fileinput" style="display: inline-flex;">
                                            <div class="fileinput-new thumbnail" style="width: 100px; height:100px;" data-trigger="fileinput">
                                                @foreach (var img in ViewBag.Imagens)
                                                {
                                                    if (img.ProdutoId == i.Id && img.Caminho.Contains(i.Id + "_4"))
                                                    {

                                                        <img src="@img.Caminho" class="img-rounded" />
                                                    }
                                                    else
                                                    {
                                                        <img src="http://placehold.it/100x100">
                                                    }
                                                }
                                            </div>


                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 100px; max-height: 100px; min-width: 100px; min-height: 100px;"></div>
                                            <br />
                                            <div style="padding-left: 0px;">
                                                <span class="btn btn-white btn-file" style="align-items: center; width: 40px; height: 40px; display: flex;">
                                                    <span class="fileinput-new" style="padding-right: 6px;">
                                                        <i class="entypo-upload"></i>
                                                    </span>
                                                    <i class="entypo-ccw"></i>
                                                    <input type="file" name="i4" accept="image/*">
                                                </span>
                                                <br />
                                                <a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput" style="padding-top: 10px; width: 40px; height: 40px; margin-top: 3px;"><i class="entypo-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2" id="prec" style="padding-left: unset;">

                                        <label class="control-label" style="padding-left: 20px;">Preço</label>
                                        <div class="input-group">
                                            <span class="input-group-addon" style="color: #0fbd71">R$</span>
                                            <input type="number" class="form-control" id="pre" value="@Convert.ToDouble(i.Preco, new System.Globalization.CultureInfo("sv-SE"))" min="2.00" name="prec" max="any" step=".1">
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="form-label">Nome*</label>
                                            <input type="text" class="form-control" value="@i.Nome" name="n" id="name" data-validate="required" maxlength="100" data-message-required="O campo é requerido" placeholder="Nome" />
                                            <span id="mn" style="color: #cc2424;" hidden>Esse campo é obrigatório!</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-8">
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="control-label">Categoria&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Gênero</label>

                                            <select class="form-control" name="gen">
                                                @foreach (var c in ViewBag.Categorias)
                                                {
                                                    foreach (var g in ViewBag.Generos)
                                                    {
                                                        if (c.Id == g.CategoriaId)
                                                        {
                                                            if (i.GeneroId != g.Id)
                                                            {
                                                                <option value="@g.Id">
                                                                    @c.Nome
                                                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                                    @g.Nome
                                                                </option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@g.Id" selected>
                                                                    @c.Nome
                                                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                                    @g.Nome
                                                                </option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="field-ta" class="control-label">Descrição*</label>
                                            <textarea class="form-control" name="desc" style="resize: none;" id="field-ta" placeholder="Descrição" rows="8" cols="2">@i.Descricao</textarea>
                                            <span id="md" style="color: #cc2424;" hidden>Esse campo é obrigatório!</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 in">

                                    </div>
                                </div>

                            </div>
                            <script>
                                function addtb(id) {
                                    $('#modal-'+id+' .in').append('@i.Complemento'.replace(/&amp;/g, "&").replace(/&gt;/g, ">").replace(/&lt;/g, "<").replace(/&quot;/g, '"').replace(/&nbsp;/g, " ").replace(/&#47;/g, "/")); 
                                }
                            </script>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-info" onclick="addtb(@i.Id);">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <tr>
                    <td>@i.Id</td>
                    <td>
                        @foreach (var img in ViewBag.Imagens)
                        {
                            if (img.ProdutoId == i.Id)
                            {

                                <img src="@img.Caminho" class="img-rounded" />
                                break;
                            }
                        }
                    </td>
                    <td>@i.Nome</td>
                    <td>@i.Quantidade</td>
                    @if (i.Promocao != null)
                    {
                        <td>Sim</td> }
                    else
                    {
                        <td>Não</td>}

                    <td>
                        @foreach (var gen in ViewBag.Generos)
                        {
                            if (i.GeneroId == gen.Id)
                            {
                                @gen.Nome
                            }
                        }
                    </td>
                    <td>
                        @foreach (var gen in ViewBag.Generos)
                        {
                            if (i.GeneroId == gen.Id)
                            {
                                foreach (var c in ViewBag.Categorias)
                                {
                                    if (gen.CategoriaId == c.Id)
                                    {
                                        @c.Nome;
                                    }
                                }
                            }
                        }
                    </td>
                    <td style="text-align: center;">
                        <a href="javascript:;" onclick="jQuery('#modal-@i.Id').modal('show', {backdrop: 'static'});" class="btn btn-default btn-sm btn-icon icon-left">
                            <i class="entypo-pencil"></i>
                            Editar
                        </a>

                        <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                            <i class="entypo-info"></i>
                            Visualizar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th class="src"></th>
                <th></th>
                <th class="src"></th>
                <th class="src"></th>
                <th class="src"></th>
                <th class="src"></th>
                <th class="src"></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>


<link rel="stylesheet" href="~/Assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
<link rel="stylesheet" href="~/Assets/js/rickshaw/rickshaw.min.css">

<!-- Bottom scripts (common) -->
<script src="~/Assets/js/gsap/TweenMax.min.js"></script>
<script src="~/Assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="~/Assets/js/bootstrap.js"></script>
<script src="~/Assets/js/joinable.js"></script>
<script src="~/Assets/js/resizeable.js"></script>
<script src="~/Assets/js/neon-api.js"></script>
<script src="~/Assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/Assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
<script src="~/Assets/js/jquery.sparkline.min.js"></script>
<script src="~/Assets/js/rickshaw/vendor/d3.v3.js"></script>
<script src="~/Assets/js/rickshaw/rickshaw.min.js"></script>
<script src="~/Assets/js/raphael-min.js"></script>
<script src="~/Assets/js/morris.min.js"></script>
<script src="~/Assets/js/toastr.js"></script>
<script src="~/Assets/js/neon-chat.js"></script>

<link rel="stylesheet" href="~/Assets/js/datatables/datatables.css">
<link rel="stylesheet" href="~/Assets/js/select2/select2-bootstrap.css">
<link rel="stylesheet" href="~/Assets/js/select2/select2.css">


<script src="~/Assets/js/datatables/datatables.js"></script>
<script src="~/Assets/js/select2/select2.min.js"></script>

<!-- JavaScripts initializations and stuff -->
<script src="~/Assets/js/neon-custom.js"></script>


<!-- Demo Settings -->
<script src="~/Assets/js/neon-demo.js"></script>

