@{
    ViewBag.Title = "Consulta de produtos";
}
<div class="sidebar-menu">

    <div class="sidebar-menu-inner" style="position: fixed !important;">



        <div class="sidebar-user-info" id="id">
            <div class="sui-normal">
                <a href="#" class="user-link">
                    <img src="~/Assets/images/thumb-1@2x.png" width="55" alt="" class="img-circle">
                </a>
            </div>
        </div>

        <ul id="main-menu" class="main-menu">
            <li>
                <a href="#">
                    <i class="entypo-home" style="padding-left: 4px;"></i>
                    <i style="font-size: 8px; padding-left: 6px;">Loja</i>
                </a>
            </li>
        </ul>

    </div>

</div>

<div class="main-content" id="pr">
    <h3>Todos os produtos</h3>
    <br />

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var $table3 = jQuery("#table-3");

            var table3 = $table3.DataTable({
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
            });

            // Initalize Select Dropdown after DataTables is created
            $table3.closest('.dataTables_wrapper').find('select').select2({
                minimumResultsForSearch: -1
            });

            // Setup - add a text input to each footer cell
            $('#table-3 tfoot .src').each(function () {
                var title = $('#table-3 thead th').eq($(this).index()).text();
                $(this).html('<input type="text"  style="font-size: 8px;" class="form-control" placeholder="' + title + '" />');
            });

            // Apply the search
            table3.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>

    <style>
        #table-3 td {
            vertical-align: middle;
            padding: 3px 8px;
        }

        a.btn + a.btn {
            margin-left: 3rem;
        }

        #table-3 tr img {
            width: 50px;
        }
    </style>

    <table class="table table-bordered datatable" id="table-3">
        <thead>
            <tr class="replace-inputs">
                <th>Código</th>
                <th>Imagem destaque</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Gênero</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in ViewBag.Produtos)
            {
                <div class="modal fade" id="modal-@i.Id">
                    <div class="modal-dialog" style="width: 98% !important;">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Visualização de produto</h4>
                            </div>

                            <form action="/Produto/Alterar" method="post" id="form1">
                                <div class="modal-body">
                                    <div class="row" style="height: 640px;">
                                        <input type="text" hidden name="id" value="@i.Id" />
                                        <div class="col-sm-4">
                                            <label class="form-label">Imagem destaque</label>
                                            <div class="fileinput fileinput-new" data-provides="fileinput" style="display: inline-flex;">
                                                <div class="fileinput-new thumbnail" style="width: 365px; height:493px;" data-trigger="fileinput">
                                                    <img src="@i.Imagem1" class="img-rounded" />
                                                </div>


                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 365px; max-height: 493px; min-width: 365px; min-height: 493px;"></div>
                                                <br />
                                            </div>
                                        </div>

                                        <div class="col-sm-2" style="padding-left: 60px;">
                                            <label class="form-label">Outras imagens</label>
                                            <div class="fileinput fileinput-new" data-provides="fileinput" style="display: inline-flex;">
                                                <div class="fileinput-new thumbnail" style="width: 150px; height:200px;" data-trigger="fileinput">
                                                    <img src="@i.Imagem2" class="img-rounded" />
                                                </div>


                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 150px; max-height: 200px; min-width: 150px; min-height: 200px;"></div>
                                                <br />
                                            </div>
                                        </div>

                                        <div class="col-sm-2" style="padding-left: 129px; margin-top: 25px;">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" style="display: inline-flex;">
                                                <div class="fileinput-new thumbnail" style="width: 150px; height:200px;" data-trigger="fileinput">
                                                    <img src="@i.Imagem3" class="img-rounded" />
                                                </div>


                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 150px; max-height: 200px; min-width: 150px; min-height: 200px;"></div>
                                                <br />
                                            </div>
                                        </div>

                                        <div class="col-sm-2" style="padding-left: 200px; margin-top: 25px;">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" style="display: inline-flex;">
                                                <div class="fileinput-new thumbnail" style="width: 150px; height:200px;" data-trigger="fileinput">
                                                    <img src="@i.Imagem4" class="img-rounded" />
                                                </div>


                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 150px; max-height: 200px; min-width: 150px; min-height: 200px;"></div>
                                                <br />
                                            </div>
                                        </div>


                                        <div class="col-sm-8" style="top: -30px;">
                                            <br />
                                            <br />
                                            <div class="form-group">
                                                <label class="form-label">Nome*</label>
                                                <input type="text" class="form-control" value="@i.Nome" readonly="readonly" name="n" id="name" data-validate="required" maxlength="100" data-message-required="O campo é requerido" placeholder="Nome" />
                                                <span id="mn" style="color: #cc2424;" hidden>Esse campo é obrigatório!</span>
                                            </div>
                                        </div>

                                        <div class="col-sm-8" style="top: -30px;">
                                            <br />
                                            <br />
                                            <div class="form-group">
                                                <label class="control-label">Categoria&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Gênero</label>

                                                <select class="form-control" name="gen" readonly="readonly">
                                                    @foreach (var c in ViewBag.Categorias)
                                                    {
                                                        foreach (var g in ViewBag.Generos)
                                                        {
                                                            if (c.Id == g.CategoriaId)
                                                            {
                                                                if (i.GeneroId == g.Id)
                                                                {
                                                                    <option value="@g.Id" selected>
                                                                        @c.Nome
                                                                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                                        @g.Nome
                                                                    </option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@g.Id">
                                                                        @c.Nome
                                                                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                                        @g.Nome
                                                                    </option>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="field-ta" class="control-label">Descrição*</label>
                                                <textarea class="form-control" name="desc" style="resize: none;" readonly="readonly" id="field-ta" placeholder="Descrição" rows="8" cols="2">@i.Descricao</textarea>
                                                <span id="md" style="color: #cc2424;" hidden>Esse campo é obrigatório!</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2" style="z-index: 2; padding-left: 75px; top: -100px;">
                                            <label class="control-label">Quantidade</label><br />
                                            <input class="knob" data-min="@i.Quantidade" data-max="@i.Quantidade" readonly="readonly" data-width="80" data-height="80" data-thickness=".25" data-fgColor="#0fbd71" data-bgColor="#ebebeb" value="@i.Quantidade">
                                        </div>

                                        <style>
                                            canvas {
                                                pointer-events: none;
                                            }
                                        </style>

                                        <div class="col-sm-2" id="prec" style="padding-left: 0px; top: -75px; left: -70px;">

                                            <label class="control-label" style="padding-left: 20px;">Preço</label>
                                            <div class="input-group">
                                                <span class="input-group-addon" style="color: #0fbd71">R$</span>
                                                <input type="number" style="background: white;" class="form-control" id="pre" readonly="readonly" value="@i.Preco.ToString().Replace(",", ".")" min="2.00" name="prec" max="any" step=".01">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer" style="height: 64px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <tr>
                    <td>@i.Id</td>
                    <td>
                        <img src="@i.Imagem1" class="img-rounded" />
                    </td>
                    <td>@i.Nome</td>
                    <td>@i.Quantidade</td>
                    <td>@i.Preco</td>

                    <td>
                        @foreach (var gen in ViewBag.Generos)
                        {
                            if (i.GeneroId == gen.Id)
                            {
                                @gen.Nome
                            }
                        }
                    </td>
                    <td>
                        @foreach (var gen in ViewBag.Generos)
                        {
                            if (i.GeneroId == gen.Id)
                            {
                                foreach (var c in ViewBag.Categorias)
                                {
                                    if (gen.CategoriaId == c.Id)
                                    {
                                        @c.Nome;
                                    }
                                }
                            }
                        }
                    </td>
                    <td style="text-align: center;">
                        <a href='@Url.Action("AProduto", "Produto", new { id = i.Id})' class="btn btn-default btn-sm btn-icon icon-left">
                            <i class="entypo-pencil"></i>
                            Editar
                        </a>

                        <a class="btn btn-info btn-sm btn-icon icon-left" href="javascript:;" onclick="jQuery('#modal-@i.Id').modal('show', {backdrop: 'static'});">
                            <i class="entypo-info"></i>
                            Visualizar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th class="src"></th>
                <th></th>
                <th class="src"></th>
                <th class="src"></th>
                <th class="src"></th>
                <th class="src"></th>
                <th class="src"></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>


<link rel="stylesheet" href="~/Assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
<link rel="stylesheet" href="~/Assets/js/rickshaw/rickshaw.min.css">

<!-- Bottom scripts (common) -->
<script src="~/Assets/js/gsap/TweenMax.min.js"></script>
<script src="~/Assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="~/Assets/js/bootstrap.js"></script>
<script src="~/Assets/js/joinable.js"></script>
<script src="~/Assets/js/resizeable.js"></script>
<script src="~/Assets/js/neon-api.js"></script>
<script src="~/Assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/Assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
<script src="~/Assets/js/jquery.sparkline.min.js"></script>
<script src="~/Assets/js/rickshaw/vendor/d3.v3.js"></script>
<script src="~/Assets/js/rickshaw/rickshaw.min.js"></script>
<script src="~/Assets/js/raphael-min.js"></script>
<script src="~/Assets/js/morris.min.js"></script>
<script src="~/Assets/js/toastr.js"></script>
<script src="~/Assets/js/neon-chat.js"></script>

<link rel="stylesheet" href="~/Assets/js/datatables/datatables.css">
<link rel="stylesheet" href="~/Assets/js/select2/select2-bootstrap.css">
<link rel="stylesheet" href="~/Assets/js/select2/select2.css">


<script src="~/Assets/js/datatables/datatables.js"></script>
<script src="~/Assets/js/select2/select2.min.js"></script>

<!-- JavaScripts initializations and stuff -->
<script src="~/Assets/js/neon-custom.js"></script>


<!-- Demo Settings -->
<script src="~/Assets/js/neon-demo.js"></script>

<!-- Imported styles on this page -->
<link rel="stylesheet" href="~/Assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
<link rel="stylesheet" href="~/Assets/js/rickshaw/rickshaw.min.css">

<!-- Bottom scripts (common) -->
<script src="~/Assets/js/gsap/TweenMax.min.js"></script>
<script src="~/Assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="~/Assets/js/bootstrap.js"></script>
<script src="~/Assets/js/joinable.js"></script>
<script src="~/Assets/js/resizeable.js"></script>
<script src="~/Assets/js/neon-api.js"></script>
<script src="~/Assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/Assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
<script src="~/Assets/js/jquery.sparkline.min.js"></script>
<script src="~/Assets/js/rickshaw/vendor/d3.v3.js"></script>
<script src="~/Assets/js/rickshaw/rickshaw.min.js"></script>
<script src="~/Assets/js/raphael-min.js"></script>
<script src="~/Assets/js/morris.min.js"></script>
<script src="~/Assets/js/toastr.js"></script>
<script src="~/Assets/js/neon-chat.js"></script>

<script src="~/Assets/js/selectboxit/jquery.selectBoxIt.min.js"></script>
<script src="~/Assets/js/jquery.knob.js"></script>

<script src="~/Assets/js/bootstrap-datepicker.js"></script>
<script src="~/Assets/js/bootstrap-timepicker.min.js"></script>

<script src="~/Assets/js/bootstrap-switch.min.js"></script>
<script src="~/Assets/js/jquery.inputmask.bundle.js"></script>
<script src="~/Assets/js/fileinput.js"></script>
<script type="text/javascript" src="~/Assets/js/neon-calendar.js"></script>

<script src="~/Assets/js/zurb-responsive-tables/responsive-tables.js"></script>
<!-- JavaScripts initializations and stuff -->
<script src="~/Assets/js/neon-custom.js"></script>

<script src="~/Assets/js/dropzone/dropzone.js"></script>

<link rel="stylesheet" href="~/Assets/js/dropzone/dropzone.css">

<!-- Demo Settings -->
<script src="~/Assets/js/neon-demo.js"></script>
<link href="~/Assets/style.css" rel="stylesheet" />
<script src="~/Assets/js/toastr.js"></script>

<style>
    .bc-r {
        border-color: #cc2424;
    }
</style>

<script>
    $('.inserttb').on('click', mst)
    function mst() {

        var d = $('#field-ta');
        var n = $('#name');
        var p = $('#pre');

        if (n.val().trim() != "" && d.val().trim() != "" && p.val() >= 2.00) {
            $('#form1').each(function () { this.submit(); });
        }

        if (!(p.val() >= 2.00) || p.val() < 0) {
            toastr.warning('Preencha todos os campos corretamente para finalizar!', 'Atenção!')
            p.addClass('bc-r');
        } else {
            p.removeClass('bc-r');
        }

        if (n.val().trim() == "") {
            $('#mn').attr('hidden', false);
            n.addClass('bc-r');
        } else {
            $('#mn').attr('hidden', true);
            n.removeClass('bc-r');
        }

        if (d.val().trim() == "") {
            $('#md').attr('hidden', false);
            d.addClass('bc-r');
        } else {
            $('#md').attr('hidden', true);
            d.removeClass('bc-r');
        }

        if (n.val().trim() == "" || d.val().trim() == "") {
            toastr.error('Preencha todos os campos corretamente para finalizar!', 'Atenção!')
        }
    }
</script>

@if (TempData["Sucesso"] != null)
{
    <script>
        $(document).ready(toastr.success('Produto alterado com sucesso!', 'Sucesso!'));
    </script>
}