
@{
    ViewBag.Title = "Localização dos banners";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="~/Assets/images/favicon.ico">

    <title>@ViewBag.Title | Scrolls Manager</title>

    <link rel="stylesheet" href="~/Assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="~/Assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Assets/css/neon-core.css">
    <link rel="stylesheet" href="~/Assets/css/neon-theme.css">
    <link rel="stylesheet" href="~/Assets/css/neon-forms.css">
    <link rel="stylesheet" href="~/Assets/css/custom.css">

    <script src="~/Assets/js/jquery-1.11.3.min.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa_PkMRovTPOd_c3HyOPvX6Vkhyh_uMpQ&libraries=places"></script>
</head>
<body class="page-body">

    <div class="page-container horizontal-menu with-sidebar sidebar-collapsed right-sidebar">


        <header class="navbar navbar-fixed-top">
            <!-- set fixed position by adding class "navbar-fixed-top" -->

            <div class="navbar-inner">

                <!-- logo -->
                <div class="navbar-brand" style="padding-top: 8px;">
                    <a href="/Home/Index">
                        <img src="~/Assets/images/logo@2x.png" width="66" alt="" />
                    </a>
                </div>


                <!-- main menu -->

                <ul class="navbar-nav">
                    <li class="has-sub">
                        <a href="/Home/CFuncionario">
                            <i class="entypo-user"></i>
                            <span class="title">Funcionário</span>
                        </a>
                        <ul>
                            <li>
                                <a href="/Home/CFuncionario">
                                    <span class="title">Cadastrar funcionário</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/QFuncionario">
                                    <span class="title">Consulta</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="/Produto/QProduto">
                            <i class="entypo-book"></i>
                            <span class="title">Produtos</span>
                        </a>
                        <ul class="visible">
                            <li>
                                <a href="/Produto/CProduto">
                                    <span class="title">Cadastrar produto</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Produto/PProduto">
                                    <span class="title">Gerenciar promoção</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Produto/RProduto">
                                    <span class="title">Repor</span>
                                    <span class="badge badge-secondary" data-toggle="tooltip" data-placement="right" title="" data-original-title="Em falta">@ViewData["Falta"]</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Produto/QProduto">
                                    <span class="title">Consulta</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="has-sub">
                        <a href="/Home/QVenda">
                            <i class="entypo-basket"></i>
                            <span class="title">Vendas</span>
                        </a>
                        <ul>
                            <li>
                                <a href="/Home/QVenda">
                                    <span class="title">Consulta</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a href="/Banner/QBanner">
                            <i class="entypo-compass"></i>
                            <span class="title">Mapa</span>
                            <span class="badge badge-success" data-toggle="tooltip" data-placement="right" title="" data-original-title="Banners ativos" id="ativo">@ViewData["Ativo"]</span>
                        </a>
                        <ul>

                            <li>
                                <a href="/Banner/CBanner">
                                    <span class="title">Cadastrar banner</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Banner/QBanner">
                                    <span class="title">Visão geral</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>


                <!-- notifications and other links -->
                <ul class="nav navbar-right pull-right">

                    @try
                    {
                        if (int.Parse(Session["_Id"].ToString()) != 0)
                        {
                        }
                        else
                        {
                            Response.Redirect("~/Home/LoginPage");
                        }

                    }
                    catch (Exception)
                    {
                        Response.Redirect("~/Home/LoginPage");
                    }


                    <li class="sep"></li>

                    <li>
                        <a href="/Home/Logout">
                            Log Out <i class="entypo-logout right"></i>
                        </a>
                    </li>


                    <!-- mobile only -->
                    <li class="visible-xs">

                        <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                        <div class="horizontal-mobile-menu visible-xs">
                            <a href="#" class="with-animation">
                                <!-- add class "with-animation" to support animation -->
                                <i class="entypo-menu"></i>
                            </a>
                        </div>

                    </li>

                </ul>

            </div>

        </header>



        <div class="sidebar-menu">

            <div class="sidebar-menu-inner" style="position: fixed !important;">

            </div>

        </div>

        <script>
    var map;
    var lugares = @Html.Raw(Json.Encode(ViewBag.Banners));

        var InitializeMap = function () {
            var myOptions = {
                zoom: 12,
                center: new google.maps.LatLng(-23.5209253, -46.72785809999999),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                disableDefaultUI: true,
                zoomControl: true
            };
            map = new google.maps.Map(document.getElementById("map"), myOptions);
        };

        var showLugares = function () {
            for (var i = 0; i < lugares.length; i++) {
                var infowindow = new google.maps.InfoWindow();
                var texto;
                var marker;
                if (lugares[i].Ativo == false) {
                    var status = 'Ativar';
                } else {
                    var status = 'Desativar';
                }
                texto = '<div class="row">'+
							'<div class="col-sm-3" style="padding-right: unset;">'+
								"<img src='" + lugares[i].Imagem + "' width='90' height='125'>"+
							"</div>"+
							'<div class="col-sm-8" style="padding-right: unset; padding-left: unset;">'+
								'<span style="color: #FF6600;">' + lugares[i].Endereco + '</span>'+
								"<br/>"+
								"<br/>"+
								"<span>Latitude " + lugares[i].Latitude + "</span>"+
								"<br/>"+
								"<br/>"+
                                "<span>Longitude " + lugares[i].Longitude + "</span>" +
                                "<br/>" +
                                "<br/>" +
                                '<button type="button" class="btn btn-green btn-icon btn-sm" id="' + lugares[i].Id + '" onclick="mst(' + lugares[i].Id +');">' + status + '<i class="entypo-check"></i></button>'
							"</div>"+
						"</div>";
                marker = new google.maps.Marker({
                    map: map,
                    animation: google.maps.Animation.DROP,
                    position: new google.maps.LatLng(lugares[i].Latitude, lugares[i].Longitude),
                    icon: '/Resources/pin.png'
                });
                (function (marker, texto) {
                        google.maps.event.addListener(marker, 'click', function () {
                        infowindow.setContent(texto);
                        infowindow.open(map, marker);
                    });
                })(marker, texto);
            }

        };


        $(document).ready(function () {
            InitializeMap();
            showLugares();
            $('#map').find('div:eq(1)').attr('hidden', true);
            $('#map').find('div:eq(2)').attr('hidden', true);
        });


        </script>
        <style>
            .gm-style-iw div {
                overflow: hidden !important;
            }

            #map {
                width: 100%;
                height: 100%;
            }
        </style>
        <div class="main-content" style="padding: 3px; background: #000;">
            <span style="position: absolute;top: 50px;left: 50px; z-index: 2; font-size: 22px; color: #fff;">Todos os banners</span>
            <div id="map" style="z-index: 1;"></div>
        </div>

        <script>
        function mst(x) {
            $.ajax({
                method: "POST",
                url: '@Url.Action("Atualizar", "Banner")',
                data: {id: x}
            });
            toastr.success('O status do banner foi alterado!', 'Sucesso!')
            InitializeMap2();
            showLugares2(x);
        }
        </script>

        <script>
    var map;
    var lugares = @Html.Raw(Json.Encode(ViewBag.Banners));

        var InitializeMap2 = function () {
            var myOptions = {
                zoom: 12,
                center: new google.maps.LatLng(-23.5209253, -46.72785809999999),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                disableDefaultUI: true,
                zoomControl: true
            };
            map = new google.maps.Map(document.getElementById("map"), myOptions);
        };

            var showLugares2 = function (x) {
            for (var i = 0; i < lugares.length; i++) {
                var infowindow = new google.maps.InfoWindow();
                var texto;
                var marker;

                if (x == (i+1)) {
                    if (lugares[i].Ativo == false) {
                        lugares[i].Ativo = true;
                    } else {
                        lugares[i].Ativo = false;
                    }
                }
                if (lugares[i].Ativo == false) {
                    var status = 'Ativar';
                } else {
                    var status = 'Desativar';
                }
                texto = '<div class="row">'+
							'<div class="col-sm-3" style="padding-right: unset;">'+
								"<img src='" + lugares[i].Imagem + "' width='90' height='125'>"+
							"</div>"+
							'<div class="col-sm-8" style="padding-right: unset; padding-left: unset;">'+
								'<span style="color: #FF6600;">' + lugares[i].Endereco + '</span>'+
								"<br/>"+
								"<br/>"+
								"<span>Latitude " + lugares[i].Latitude + "</span>"+
								"<br/>"+
								"<br/>"+
                                "<span>Longitude " + lugares[i].Longitude + "</span>" +
                                "<br/>" +
                                "<br/>" +
                                '<button type="button" class="btn btn-green btn-icon btn-sm" id="' + lugares[i].Id + '" onclick="mst(' + lugares[i].Id +');">' + status + '<i class="entypo-check"></i></button>'
							"</div>"+
						"</div>";
                marker = new google.maps.Marker({
                    map: map,
                    animation: google.maps.Animation.DROP,
                    position: new google.maps.LatLng(lugares[i].Latitude, lugares[i].Longitude),
                    icon: '/Resources/pin.png'
                });
                (function (marker, texto) {
                        google.maps.event.addListener(marker, 'click', function () {
                        infowindow.setContent(texto);
                        infowindow.open(map, marker);
                    });
                })(marker, texto);
                }
                var cont = 0;
                for (var i = 0; i < lugares.length; i++) {
                    if (lugares[i].Ativo == true) {
                        cont++;
                    }

                }
                $('#ativo').text(cont);

        };


        $(document).ready(function () {
            InitializeMap();
            showLugares();
        });


        </script>

    </div>


    <link rel="stylesheet" href="~/Assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="~/Assets/js/rickshaw/rickshaw.min.css">
    <script src="~/Assets/js/gsap/TweenMax.min.js"></script>
    <script src="~/Assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="~/Assets/js/bootstrap.js"></script>
    <script src="~/Assets/js/joinable.js"></script>
    <script src="~/Assets/js/resizeable.js"></script>
    <script src="~/Assets/js/neon-api.js"></script>
    <script src="~/Assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
    <script src="~/Assets/js/jquery.sparkline.min.js"></script>
    <script src="~/Assets/js/rickshaw/vendor/d3.v3.js"></script>
    <script src="~/Assets/js/rickshaw/rickshaw.min.js"></script>
    <script src="~/Assets/js/raphael-min.js"></script>
    <script src="~/Assets/js/morris.min.js"></script>
    <script src="~/Assets/js/toastr.js"></script>
    <script src="~/Assets/js/neon-chat.js"></script>
    <script src="~/Assets/js/neon-custom.js"></script>
    <script>
        $(window).resize(function () {

            if ($(window).width() <= 768) {
                var el = document.getElementById('id');
                el.parentNode.removeChild(el);
            }
        });

    </script>
    <script src="~/Assets/js/neon-demo.js"></script>
    <link href="~/Assets/style.css" rel="stylesheet" />
</body>
</html>